
  <div class=" bg-theme2-primary w-full border-b-4 border-theme2-secondary shadow-lg text-theme2-textPrimary">
    <div class="flex items-center justify-between px-4  text-theme2-textSecondary">
      <div class="flex items-center">
        <div class="w-20 h-20 rounded-full overflow-hidden border-4 border-theme2-secondary shadow-lg">
          <img
            src="https://i.blogs.es/85aa44/stan-lee/1366_2000.jpg"
            alt="Avatar"
            class="w-full h-full object-cover"
          />
        </div>
        <div [ngClass]="{ 'animate__animated animate__fadeInDown': animacionActiva }">
          <ul class="flex items-center justify-center ml-6 space-x-4">
          <li class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer" (click)="SetPanel(1)">Perfil</li>
          <li class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer" (click)="SetPanel(2)">Proyectos</li>
          <li class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer" (click)="SetPanel(3)">Tecnologias</li>
          <li class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer" (click)="SetPanel(4)">Metas</li>
          <li class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer" (click)="SetPanel(5)">Aficiones</li>
        </ul>
        </div>
        
      </div>
      <div [ngClass]="{ 'animate__animated animate__fadeInRight': animacionActiva }">
        <div class="flex items-center justify-center">
        <div class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer">Idioma</div>
        <div class="m-5 p-3 transition-colors duration-300 hover:bg-theme2-secondary rounded-lg cursor-pointer" (click)="changeTheme()">Temas</div>
      </div>
      </div>
      
    </div>
  </div>
