
<!-- <div class="bg-theme2-primary h-screen w-full overflow-hidden">
  <app-toolbar (parametroEnviado)="parametro = $event" (themeEnviado)="theme= $event"></app-toolbar>
  <div class="overflow-y-auto h-full pb-32">
    <app-panel [parametro]="parametro" [theme]="theme"></app-panel>
  </div>
  <app-footer></app-footer>
</div> -->
<div class="bg-theme2-primary h-screen w-full overflow-hidden flex flex-col">
  <app-toolbar class="h-17" (parametroEnviado)="parametro = $event" (themeEnviado)="theme= $event"></app-toolbar>
  <div class="overflow-y-auto flex-grow">
    <app-panel [parametro]="parametro" [theme]="theme"></app-panel>
  </div>
  <app-footer class="h-16"></app-footer>
</div>

