<div [ngClass]="{ 'animate__animated animate__fadeInUpBig': animacionActiva }">
  <div class="bg-theme2-secondary rounded-lg shadow-xl p-4 m-8">
    <h1>{{ title }}</h1>
    <div class="grid grid-cols-4 gap-4 items-start">
      <div >
        <app-card cardType="1"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="1"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
      <div >
        <app-card cardType="2"> </app-card>
      </div>
    </div>
  </div>
</div>
